

export GTK2_RC_FILES="/etc/gtk-2.0/gtkrc:$HOME/.gtkrc-2.0"
export JAVA_HOME=/usr/lib/jvm/default

echo "'<´ MEEM"

#aliases
alias ubr='ssh {{ ssh_url }}'
alias öa="dig +short myip.opendns.com @resolver1.opendns.com"
alias rasip="cat /var/lib/misc/dnsmasq.leases"

alias toron="sudo systemctl start tor"
alias toroff="sudo systemctl stop tor"

alias pv='feh -ZXFr ./'
alias pv='feh -ZFr ./'
alias sc='cd /mnt/daten/Sync'
alias nsa='lsof -Pa -i'

# Yavide alias
alias yavide="gvim --servername yavide -f -N -u /opt/yavide/.vimrc"
