{% for cfg in monitor_configs %}

{
    {% for output in cfg.outputs %}
        {% if output.disabled == 'enable' %}
            output "{{ output.device }}" {{ output.disabled }} {% if output.scale is defined  %} scale {{ output.scale }} {% endif %} {% if output.position is defined %} position {{ output.position }} {% endif %} {% if output.mode is defined %} mode {{ output.mode }} {% endif %}

        {% else %}
            output "{{ output.device }}" disable

        {% endif %}
    {% endfor %}

    {% if cfg.exec is defined %}
        {% for exec in cfg.exec %}
            exec {{ exec }}
        {% endfor %}
    {% endif %}

}

{% endfor %}