[Unit]
Description=starts waybar

[Service]
Restart=on-success
RestartSec=3
ExecStart=/usr/bin/waybar

[Install]
WantedBy=default.target
# WantedBy=daemon.target

